&__button {
  background-color: rgb(250, 156, 147);
  border: 2px solid rgb(250, 156, 147);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 32px;
}
