
.c-carousel{

  .carousel-slider {

    .control-arrow {
      margin: 0 80px;

    }
    .control-arrow{
      display: none;
    }
    .slider-wrapper {
      .slider {

        .slide {

          background-color: transparent;
          .c-carousel__container{
            width: 100%;
            margin-top: 100px;

            .c-carousel__img{
              width: 90%;
            }
            .c-carousel__title {
              font-family: 'Barlow', sans-serif;
              font-size: 25px;
              color: rgb(1,116,142);
              width: 81%;
              margin: 32px auto;
              text-align: center;
            }

            .c-carousel__text{
              font-family: 'Barlow', sans-serif;
              font-size: 16px;
              text-align: center;
            }

          }
        }
      }

    }

    .control-dots {
      position: relative;
      top: 10px;
      left: -8px;
      .dot{
        width: 16px;
        height: 16px;
        background: rgb(250, 156, 147);
        box-shadow: 1px 1px 2px rgba(0,0,0,0);
      }
    }

    .carousel-status{
      display: none;
    }
  }

  .carousel{
    .thumbs-wrapper{
      display: none;
    }
  }
}
