.c-carousel .carousel-slider .control-arrow {
  margin: 0 80px;
}
.c-carousel .carousel-slider .control-arrow {
  display: none;
}
.c-carousel .carousel-slider .slider-wrapper .slider .slide {
  background-color: transparent;
}
.c-carousel .carousel-slider .slider-wrapper .slider .slide .c-carousel__container {
  width: 100%;
  margin-top: 100px;
}
.c-carousel .carousel-slider .slider-wrapper .slider .slide .c-carousel__container .c-carousel__img {
  width: 90%;
}
.c-carousel .carousel-slider .slider-wrapper .slider .slide .c-carousel__container .c-carousel__title {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  color: #01748e;
  width: 81%;
  margin: 32px auto;
  text-align: center;
}
.c-carousel .carousel-slider .slider-wrapper .slider .slide .c-carousel__container .c-carousel__text {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  text-align: center;
}
.c-carousel .carousel-slider .control-dots {
  position: relative;
  top: 10px;
  left: -8px;
}
.c-carousel .carousel-slider .control-dots .dot {
  width: 16px;
  height: 16px;
  background: #fa9c93;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}
.c-carousel .carousel-slider .carousel-status {
  display: none;
}
.c-carousel .carousel .thumbs-wrapper {
  display: none;
}

/*# sourceMappingURL=Onboarding.css.map */
