.b-novedades {
background-color: white;

    &__seccion-titulo {
         
      font-size: 16px;
      text-align: left;
      font-weight: bold;
      color: rgb(1, 116, 142);
      margin: 24px 5%;
      font-size: 16px;
      
    }
  
    &__fondo {
      width: 90%;
      margin: 0 auto 30px;
      background-color: rgb(250, 156, 147);
      border-radius: 6px;
    }
  
    &__img {
      width: 99%;
      margin: 1px ;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    &__titulo {
      text-align: center;
      font-size: 16px;
      color:white;
      bottom: 10px;
      position: relative;
    }
  }
   